body {
    padding: 10px;
}

.index-view-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.index-view-title {
    display: flex;
    width: 100%;
    justify-content: left;
}

.index-auction-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 50px 15px;
}

.index-auction-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none !important;
    height: 300px;

}

.index-description > p {
    margin: 0;
    color: rgb(43, 43, 43);
}

.index-price {
    font-weight: bold;
}

.index-auction-pic {
    object-fit: cover;
    width: 100%;
    height: 75%;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 3px;
    /*transition: scale 0.1s ease-out,box-shadow 0.1s ease-out;*/
}
.index-auction-pic:hover {
    box-shadow: 0 0px 7px rgba(122, 122, 122, 0.507);
}

.index-created {
    font-size: 10px;
    color: rgb(24, 24, 24);
}

.add-form {
    display: flex;
    flex-direction: column;
}

.view-main-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px 50px;
}

.view-img-wrapper {
    grid-area: 1/1/2/2;
}

.view-img {
    width: 100%;
    display: flex;
}

.view-info-wrapper {
    grid-area:  1/2/2/3;
    display: flex;
    flex-direction: column;
}
.view-comments-wrapper {
    grid-area: 2/1/3/3;
    display: flex;
    flex-direction: column;
}

.view-comments-form {
    display: flex;
    width: 30%;
    flex-direction: column;
}

.view-comments-list {
    display: flex;
    width: 70%;
    flex-direction: column;
}

.bid-form > label{
    display: none;
}
